<h1>{{title}}</h1>
<p>Перелеты в  {{title}}</p>


<form id="formFlights" >
    <input id="origin" placeholder="Откуда"  type="text">
    <input id="destination" placeholder="Страна"  type="text">
    <input id="depart_date" placeholder="Туда"  type="text">
    <input id="return_date" placeholder="Обратно" type="text">
    <button type="submit">Найти билеты</button>
</form>


<button class="getCities">Cities</button>
<button class="getFlights">Flights</button>
<div class="container"></div>